@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model NBU.Models.Review

@{

  ViewData["Title"] = "Details";

  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="card text-white bg-secondary bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header fs-3">@Html.DisplayFor(model => model.Movie)</div>
  <div class="card-body">
    <h5 class="card-title">Creator: @Html.DisplayFor(model => model.Creator)</h5>
    <p class="card-text">@Html.DisplayFor(model => model.Comment)</p>
    <p class="card-text">Likes: @Html.DisplayFor(model => model.Likes)</p>

    @{
      var user = await UserManager.GetUserAsync(User);
      var userId = user?.Id;
      var userEmail = user?.Email;

      if (Model.Creator != userEmail)
      {
        <a type="button" class="btn btn-success" asp-action="Like" asp-route-id="@Model.ID">
          Like
        </a>
        <a type="button" class="btn btn-danger" asp-action="Dislike" asp-route-id="@Model.ID">
          Dislike
        </a>
      }
    }
  </div>
</div>
</div>


<div>
  @if (User.IsInRole("Admin"))
  {
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
  }

  <a asp-action="Index">Back to List</a>
</div>
